<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>22.11.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam inventore minus sed sunt voluptates
      voluptatum. Animi aperiam assumenda commodi cumque delectus deleniti ea eius et, ex facilis iure laborum nobis
      obcaecati perferendis placeat possimus quas, quis quo quos recusandae reiciendis similique tenetur unde vel vero
      vitae voluptas voluptatem voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam inventore minus sed sunt voluptates
      voluptatum. Animi aperiam assumenda commodi cumque delectus deleniti ea eius et, ex facilis iure laborum nobis
      obcaecati perferendis placeat possimus quas, quis quo quos recusandae reiciendis similique tenetur unde vel vero
      vitae voluptas voluptatem voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam inventore minus sed sunt voluptates
      voluptatum. Animi aperiam assumenda commodi cumque delectus deleniti ea eius et, ex facilis iure laborum nobis
      obcaecati perferendis placeat possimus quas, quis quo quos recusandae reiciendis similique tenetur unde vel vero
      vitae voluptas voluptatem voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam inventore minus sed sunt voluptates
      voluptatum. Animi aperiam assumenda commodi cumque delectus deleniti ea eius et, ex facilis iure laborum nobis
      obcaecati perferendis placeat possimus quas, quis quo quos recusandae reiciendis similique tenetur unde vel vero
      vitae voluptas voluptatem voluptates.</p>
  </div>
</div>
