<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A consequuntur cupiditate delectus, illo nam numquam
      sequi sit voluptas? Animi dicta eius eos exercitationem hic minima mollitia obcaecati possimus quaerat qui quidem,
      rerum ut voluptatem? Asperiores blanditiis est ipsam, iste perferendis porro soluta. Architecto esse eum excepturi
      fuga id neque ullam.</p>
  </div>
</div>
